# Project git ignore
.settings/
.env
.unison*
heartbeat.txt

conventional-release/src/node_modules

# IDEA Code Style
.idea/*
!.idea/copyright/
!.idea/copyright/*
!.idea/codeStyles/
!.idea/codeStyles/*